.app {
  min-height: 120vh;
  min-width: 134vh;
  background: white;
}

/* This is css for topbar */
/* .justify-content-center {
 background-color: black;
 text-align: center;
} */

.topbar {
  background-color: black;
}

.totalvery_title {
  width: 150%;
}

.mainhome {
  display: flex;
  justify-content: center;
}

.textfield {
  display: flex;
  justify-content: center;
  align-items: center;
  size: 'lg';
}

.button {
  background:rgb(61, 109, 175);
  color: white;
}

.doordash {
  height: 100px;
  width: 100px;
}

.ubereats{
  height: 100px;
  width: 100px;
}

.grubhub{
  height: 100px;
  width: 100px;
}

.addresssearch{
  display: flex;
  justify-content: center;
}

.showresult{
  display: center;
  height: 700px;
  width: 550px;
  border: 5px solid rgb(61, 109, 175);
  margin: auto;
  margin-top: 90px;
}

.googlemap{
  display: center;
  justify-content: center;
  margin-top: 180px;
}
